.main-container {
    color: white;
    .home-description {
        padding-top: 8rem;
        h3 {
            font-size: 2rem;
            
        }
        h4{
            margin-bottom: 4rem;
        }
        p {
            font-size: 1.25rem;
        }
    }  
}
