<div class="container main-container ">
    <div class="row row-cols-12">
        <div class="home-description col-md-6">
            <h3>Puķu pardošanas internet lappa FloverAPI</h3>
            <h4>autors Nikita Terentjevs</h4>
            <p>
                Lappas priekšgals izveidots izmantojot parsvara TypeScript kas ir lidzīgs JavaScript, kā arī HTML un SCSS. Aizmugursistēma izstradāta izmantojot PHP un ir izveidota saskaņā ar MVC pieeju.
            </p>
            <p>
                Priekšgalam ir izmantots Angular struktūra, jo man ir nedaudz iepriekšejas pieredzes ar ši strukturu, kā arī man drīz būs prakse kur man vajadzes izmantot Angular lai pildīt uzdevumus
            </p>
            <br>
        </div>
        <div class="home-login col-md-6">
            <app-login></app-login>
        </div>
    </div>
</div>

